BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"sdl_painter/'
    Priority: 1
  - Regex: '^<SDL'
    Priority: 2
  - Regex: '^<'
    Priority: 3
  - Regex: '.*'
    Priority: 4
